<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="form-group">
    <%= f.label :doctor_id %><br>
    <%= f.select(:doctor_id, Doctor.all.collect {|p| [ p.d_full_name, p.id ] }, { include_blank: true }) %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(Patient::STATE) %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Create Patient', class:"btn btn-info btn btn-primary btn-lg btn-lg active" %>
  </div>
<% end %>
