<p id="notice"><%= notice %></p>

<br> <br>
  <h1>Doctor Information</h1>
<br> <br>

<p>
  <strong>Doctor Name:</strong>
  <%= @patient.doctor.d_full_name %>
</p>

<p>
  <strong>Doctor Email:</strong>
  <%= @patient.doctor.email %>
</p>

<p>
  <strong>Doctor Phone:</strong>
  <%= number_to_phone(@patient.doctor.phone_number) %>
</p>

<br> <br>

<%= link_to 'Back', patients_path, class:"btn btn-primary btn-lg active" %>
