<p id="notice"><%= notice %></p>

<h1>Listing Doctors</h1>
<br> <br>
<table class="table table-striped table-bordered table table-hover">
  <thead>
    <tr>
      <th>Doctor Name</th>
      <th>License no</th>
      <th>Email</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.d_full_name %></td>
        <td><%= doctor.license_no %></td>
        <td><%= doctor.email %></td>
        <td><%= number_to_phone(doctor.phone_number) %></td>
        <td><%= link_to 'Patients', doctor, class:"btn btn-primary btn-lg active" %></td>
        <td><%= link_to 'Edit', edit_doctor_path(doctor), class:"btn btn-warning btn-lg active" %></td>
        <td><%= link_to 'Destroy', doctor, method: :delete, class:"btn btn-danger btn-lg active",data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Doctor', new_doctor_path, class:"btn btn-success btn btn-primary btn-lg btn-lg active" %>













